// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-child {
  padding-top: 15px;
  padding-bottom: 15px;
}


.profile {
  padding-top: 15px;
  padding-bottom: 30px;

}

.user{
  padding-top: 15px;
  padding-bottom: 15px;

}

.follows h4{
  border-bottom: 1px solid #ccc;


}

.followers h4 {
  border-bottom: 1px solid #ccc;

}
